/* 图标 */
$icon-variable: 700;
$color-variable: #409eff;
.xy-component-table{
  .column-block{
    display: flex;
    flex-wrap: wrap;
    .el-input {
      input{
        border-radius: 1px;
      }
    }
    .el-select {
      flex-basis: 100%;
    }
   .column-block-item{
     margin-left: 10px;
     display: flex;
     font-size: 15px;
     .el-popover__reference:hover{
        color: $color-variable;
        cursor: pointer;
     }
     .el-icon-search{
      font-weight: $icon-variable;
     }
     .column-block-item-sort{
        margin-left: 10px;
        position: relative;
        .sort-top{
          position: absolute;
          font-weight: $icon-variable;
          top: 0;
        }
        .sort-bottom{
            position: absolute;
            font-weight: $icon-variable;
            top: 8px;
        }
        .is-active-srot{
          color: $color-variable;
        }
     }
   }
  }
  /* 详情样式 */
  .column-block-expand-content{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    .column-block-expand-content-item{
      flex-basis: 100%;
      min-height: 35px;
      display: flex;
      align-items: center;
      .content-item-label{
        font-weight: 700;
        color: #99a9bf;
        font-size: 14px;
        min-width: 10em;
      }
      .content-item-value{
        text-indent: 2em;
      }
    }
  }
}
.query-item-modal{
  input{
    border-radius: 1px;
  }
}

.query-item-opration{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  button{
    border-radius: 1px;
  }

}